<!-- TRAIT INNOVATION FAVICON & APP ICON SUITE -->
<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}" />
<meta name="theme-color" content="#030611" />
<meta name="msapplication-TileColor" content="#030611" />
